  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @drummer.photo.url, alt: @drummer.name %>
    </div>
  </div>

  <div class="col-md-4">
    <h2><%= @drummer.name %></h2></br>
    <h2><%= @drummer.drumkit.name if @drummer.drumkit %></h2>
  </div>



