<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">

      <%= image_tag "carter_beauford.jpg", alt: "Carter Beauford" %>

      <h2>Carter Beauford</h2>

      <div id="main-bio-text">
        <p>
          Beauford was first exposed to the drums at age three. At the time, his father had bought tickets to a Buddy
          Rich
          concert and could not find someone to watch his son, so he took young Beauford along to the show. Beauford was
          mesmerized by Buddy Rich on stage. After that show, Beauford's father bought his son a tin drum set with paper
          heads, since Beauford showed so much interest in learning the instrument. Beauford began performing
          professionally
          when he was nine
        </p>

        <p>
          Beauford explains his unusual playing style in his instructional video "Under The Table & Drumming",
          attributing
          his use of left-hand-lead on a right-handed kit to playing his own kit in front of a mirror as a child in an
          attempt to emulate his favorite drummers, like Buddy Rich. He unknowingly set up his drums in reverse of
          whichever
          performer and set that he had in mind, in an attempt to make the mirrored image of himself match that of the
          audience's perspective, as he had seen it on stage and TV. This helped him to become completely ambidextrous
          at a
          very early age, albeit by accident.[citation needed]

          Beauford earned a degree in Occupational Therapy
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p><strong>Notable Groups</strong></p>

      <p>
        Dave Matthews Band, Secrets
      </p>
    </div>
  </div>

</div>



