<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Holder</a></li>
        <li role="presentation"><a href="#">Holder</a></li>
      </ul>
      </ul>
    </div>
  </div>
</nav>