<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
        <li role="presentation"><%= link_to 'Admin', admin_root_path, target: blank?%></li>
      </ul>
      </ul>
    </div>
    <a class="navbar-brand" href="#"></a>

  </div>
</nav>