@import "bootstrap-sprockets";
@import "bootstrap";

/* ED174C, 006BB6, 002B5C, C4CED3 */

.navbar {
  background-color: #002B5C;
}

body {
  padding-top: 75px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 75px;
}

#side-tron {
  background: white;
  color: #ED174C;
  border: solid #ED174C;;
}

#main-bio-text {
  text-align: justify;
}

#browse-body {
  padding: 20px;
}

#search {
  padding-bottom: 20px;
}

.thumbnail {
  border: none;

}

.thumbnail :hover {
}

.nav-pills {
  padding-top: 5px;
}

.drummer-tab :hover {
  border-radius: 10px;
}

.jumbotron {
  background: #ED174C;
  color: white;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... } */

